
@import '_variable';

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}



nav{
    background: $bg-color;
    z-index: 9999;
    .icon{
        img{
            height: 45px;
            margin: 9px;
        }
    }

    .nav1{
        display: flex;
        justify-content: space-between;
        .nav-item{
            @extend %nav;
            background: transparent;
            position: relative;
            transition: 0.4s;
            color: $bg-nav;
            
        }
    } 
    .toggle{
        display: none;
    }
}

.show_image{
    background-image: url('../../image/photo-of-people-standing-on-top-of-mountain-near-grasses-733162.jpg');
    width: 100vw;
    height: 81vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .input_search{
        padding: 10px 10px;
        box-sizing: border-box;
        outline: none;
        border: none;
        font-size: 17px;
        border-radius: 10px 0px 0px 10px;
        transition: 0.4s;
        &:focus{
            box-shadow: 0px 0px 0px 3px #00d9ff77;
        }
    }
    .search_btn{
        @extend %btn;
        background: #D32F2F;
        color: #FFEBEE;
    }


}

.box1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 150px;
    width: 90%;
    margin: auto;

    .box1_card{
        transform: translate(0px, 146px);
        opacity: 0;
        transition: 0.5s ease-in;
    }
}




.box2{
    background: #ECEFF1;
    padding: 2rem;
    grid-gap: 15px;
    .box2_card1{
        //position: relative;
        img{
            width: 100%;
        }


        .b2_c1_item{
            //position: absolute;
            //top: 55px;
            z-index: 99;

            p{
                width: 273px;
                background: #fff;
                padding: 19px;
                transform: translate(-290px, 0px);
                opacity: 0;
                transition: 0.5s;
                
                
            }
            button{
                @extend %btn;
                background-color: #42A5F5;
                color: #fff;
                transform: translate(0px, 37px);
            }

        }
        .b2_c2_item img{
            width: 100%;
            height: 100%;
            transform: translate(0px, 315px);
            opacity: 0;
            transition: 0.9s;
        }
    }
    .box2_card2{
        img{
            width: 100%;
        }
    }
}


.box4{
    width: 100%;

    .b4_c1{
        display: flex;
        flex-direction: column;;
        align-items: center;
        width: 100%;


        .border_b{
            width: 188px;
            height: 4px;
            background: $bg-color;
            margin-top: 0.6rem;
            border-radius: 10px;
        }
    }


}

.b5_c1{

    .b5_c2_item{
        padding: 14px;


        p{
        text-align: justify;
        }
    }


    .b5_c1_item{
        img{
            width: 100%;
        }
    }
}



.b5_c2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .look_btn{
        @extend %btn;
        background-color: transparent;
        //color: $bg-nav;
        margin: 10px 10px 0px 10px;
        padding: 23px 13px;
        font-weight: 600;

    }
}

.b5_c1{
    background: $bg-nav;
    padding: 10px;
}
.b5_c2_item button{
    @extend %btn;
    background-color: #42A5F5;
    color: #fff;
    margin: 10px 0px;
} 
.b5_c1_item{
    img{
        width: 100%;
        border: 1px solid white;
        padding: 7px;
    }
}





.add_a{
    position: relative;

    &::after{
        content: ' ';
        position: absolute;
        height: 0px;
        width: 0px;
        border: 10px solid $bg-nav;
        border-left-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}



.galary{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    
    .galary_item{

        border: 1px solid $bg-color;
        transform: scale(0);
        opacity: 0;
        transition: 0.5s ease-in;


        a img{
            width: 100%;
        }

        
        p{
            text-align: justify;
            padding: 10px;
        }

    }
    
        
}




.box6{
    height: 107px;
    width: 100%;
    background-color: $bg-nav;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;


}

#loader{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.884);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;

    .ripple{

        div{
            position: absolute;
            height: 80px;
            width: 80px;
            background: #fff;
            border-radius: 50%;
            animation: riple 1s linear infinite;

        }

    }
}

@keyframes riple{
    0%{
        height: 0;
        width: 0;
    }
    100%{
        height: 80px;
        width: 80px;
        opacity: 0;
    }
}


@media(max-width: 768px) {




nav .nav1 .nav1_activ{
    transform: translate(-90%, 0%);
    opacity: 0;
}

nav .nav_active{
    display: none;
}






nav .nav1{
    //display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    
    .nav-item{
        background: $bg-nav;
        color: #434c5e;
        padding: 6px 10px;
        border-bottom: 1px solid #4c566a;
        transition: 0.4s;

        &:hover{
            background: #4c566a;
        }
    }

    .nav-item:last-child{
        border-bottom: none;
    }
}






nav .toggle{
    display: block;

    .toggle_cy{
        height: 50px;
        width: 50px;
        margin: 8px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1px;
        float: right;
        cursor: pointer;
        
        

        div{
            height: 5px;
            width: 29px;
            background: #000;
            margin: 2px;
            transition: 0.4s;
        }
    }

    .toggle_cy_activ{
            height: 50px;
            width: 50px;
            margin: 8px 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1px;
            float: right;
            position: relative;
            cursor: pointer;
    
            div{
                height: 5px;
                width: 29px;
                background: $bg-nav;
                margin: 2px;
                transition: 0.4s;
            }

            div:nth-child(1){
                position: absolute;
                transform: rotate(45deg);
            }

            div:nth-child(2){
                position: absolute;
                transform: rotate(-45deg);
            }

            div:nth-child(3){
                position: absolute;
                transform: translate(-24px, 0px);
                opacity: 0;
            }
    }

}







.add_a{
    position: relative;
    color: $bg-color;

    &::after{
        border-left-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

}




.b5_c1{

    padding: 10px;

    p{
        padding: 14px;
        text-align: justify;
    }


    .b5_c1_item{
        img{
            width: 100%;
            border: 1px solid white;
            padding: 7px;
        }
    }
}



    
    .b4_c1{
        display: flex;
        flex-direction: column;;
        align-items: center;
        width: 100%;

        h1{
            font-size: 21px;
        }

        .border_b{
            width: 100px;
            height: 4px;
            background: $bg-color;
            margin-top: 0.6rem;
            border-radius: 10px;
        }
    }



    .box1{
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }


.box2{
    background: #ECEFF1;
    padding: 2rem;
    grid-gap: 15px;

    .box2_card1{

        .b2_c1_item{
            position: initial;

            p{
                width: 100%;
                background: #fff;
                padding: 19px;
            }

            button{
                border: none;
                outline: none;
                font-size: 17px;
                padding: 10px 13px;
                cursor: pointer;
                background: #42A5F5;
                color: #fff;
            }
        }

        .b2_c2_item img{
            margin-top: 3rem;
            width: 100%;
        }

    }

    img{
        width: 100%;
        margin-top: 3rem;
    }

    
}






    
}
